@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@100;200;300;400;500;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color:inherit;
    font-family: 'Cabin' , sans-serif;
}
img{
    display: flex;
    width: 100%;
}
body{
    background-color: rgb(255, 235, 235);
}
.menu-wrapper{
    /* border:2px solid magenta; */
    padding-block:1rem;
    width: 90%;
    margin-inline:auto;
}
.back_button-title{
    /* border:2px solid magenta; */
    display: flex; 
    animation-delay: 300ms;
    align-items: center;  
    justify-content: center;
}
.title{
    /* border:2px solid magenta; */
    display: flex;
    width: 100%;
    text-align: center;
    font-size:1.3rem;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}
.back_button-title button{
    border:none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    font-size:1.1rem;
}
.search_bar{
    animation-delay: 600ms;
    margin-top:2rem;
    border-radius: 10px;
    background-color: white;
    /* border:2px solid magenta; */
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.search_bar button{
    z-index:2;
    background-color: transparent;
    border:none;
    /* border:2px solid magenta; */
    margin-right:0.8rem;
    appearance: none;
    cursor: pointer;
}
.search_bar input{
    z-index:1;
    outline:none;
    padding-block:0.7rem;
    padding-inline:1rem;
    border:none;
    width: 90%;
    height: 100%;
    /* border:2px solid magenta; */
    background-color: transparent;
    font-size:1rem;
    font-weight:600;
}
input:hover, input:focus{
    border:5px white;
}
.search_bar i{
    font-size:1.2rem;
}
.menu-options-wrapper{
    animation-delay: 900ms;
    margin-top:2rem;
    /* border:2px solid magenta; */
    display: grid;
    gap:2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.menu-option h3{
    margin-top:0.8rem;
}
.menu-option p{
    color:rgb(255, 188, 86);
    font-size:0.82rem;
    font-weight: 700;
}
.menu-option img{
    border-radius: 25px;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.animation{
    animation-duration: 900ms;
    animation-name: fade-in;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
    animation-fill-mode: backwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.pizza-wrapper{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    margin-top:2rem;
    animation-delay:900ms;
    /* border:2px solid magenta; */
}
.pizza-option{
    display: flex;
    justify-content: space-between;
    /* border:2px solid magenta; */
    background-color: rgb(255, 255, 255);
    padding:1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 12px;
}
.pizza-option button{
    border:none;
    appearance: none;
    background-color: transparent;
}
.price-add_button{
    display: flex;
    gap:1rem;
}
.pizza-type{
    display: flex;
    flex-direction: column;
    /* border:2px solid magenta; */
    align-items: flex-start;
    gap:0.4rem;
}
.price{
    display: flex;
    /* border:2px solid magenta; */
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid magenta; */
}
.add-button button{
    border:3px solid rgba(128, 128, 128, 0.4);
    background-color: transparent;
    padding-inline:0.85rem;
    padding-block:0.7rem;
    border-radius: 50%;
    cursor: pointer;
}
.add-button button i{
    color:rgb(228, 142, 96);
}
.gramaj{
    background-color: rgba(147, 147, 147, 0.5);
    font-size:0.7rem;
    padding:0.5em;
    border-radius: 6px;
    opacity: 0.5;
}
.pizza-name{
    font-size:1.2rem;
}
#quatrostagioni.is-active{
    background-color: red;
}
#gramaju.is-active{
    background-color: red;
}
.pizza-card{
    overflow: scroll;
    z-index: 99;
    background-color: white;
    position:absolute;
    left:0;
    top:120%;
    height:89vh;
    width: 100vw;
    transition: 500ms ease-in-out;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.pizza-card img{
    object-fit: cover;
    height: 250px;
}
.quatro-stagioni.is-active{
    top:5rem;
    transition: 500ms ease-in-out;
}
.shadow-background{
    z-index:98;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top:0;
    opacity: 0;
    scale:0;

    left:0;
    transition:opacity 500ms ease-in-out,
                scale 0ms ease-in-out 500ms;
}
.shadow-background.is-active{
    scale:1;
    opacity: 1;
    transition:scale 0ms ease-in-out,
                opacity 500ms ease-in-out;
}
.text-card{
    width: 100%;
    padding:2rem;
    padding-top:1.5rem;
}
.text-card h3{
    margin-bottom: 0.5rem;
}
.text-card p{
    margin-bottom: 1.2rem;
}
#pret{
    color:rgb(233, 157, 34);
    font-size:1.15rem;
}
.text-card button{
    background-color: rgb(233, 178, 29);
    color:white;
    font-size:1.1rem;
    padding-inline:3rem;
    padding-block:1em;
    border:none;
    margin-top:2rem;
    border-radius: 15px;
    width: 100%;
    transition:500ms ease-in-out;
    cursor:pointer;
}
.food-image{
    /* border:2px solid magenta; */
    display: flex;
    position: relative;
}
.food-image button{
    position: absolute;
    top:1.1rem;
    right:1.2rem;

    background-color: rgb(0, 0, 0, 0.3);
    appearance: none;
    cursor: pointer;
    border:1px solid white;
    border-radius: 50%;
    padding-inline:0.3rem;
    padding-block:0.2rem;
}
.food-image button i{
    color:white;
    font-size: 1rem;
    font-weight: 200;
}
.pizza-card-wrapper{
    z-index: 100;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    scale:0;
    display: block;
    transition:opacity 500ms ease-in-out,
                scale 0ms ease-in-out 500ms;
}
.pizza-card-wrapper.is-active{
    display:block;
    opacity: 1;
    scale:1;
    transition:scale 0ms ease-in-out,
                opacity 500ms ease-in-out;
}